.textContainer{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform: scaleX(-1);
  display: inline-block;
}
.textItem{
  transform: scaleX(-1);
  display: inline-block;
}
